.custom-modal-wrapper {
  .custom-modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -37px;
  }
  .modal-header {
    border: none !important;

    .btn-close {
      margin-top: 0px;
      margin-right: 0px;
    }
  }
  .modal-content {
    border-radius: 17px !important;
    max-width: 400px !important;
    max-height: 400px !important;
  }
}
