.btn-primary {
  background-color: #7d63ec;
  border-color: #7d63ec;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: #7d63ec !important;
  border-color: #7d63ec !important;
}
.btn-secondary {
  background-color: #0cddd9;
  border-color: #0cddd9;
}
.btn-secondary:hover {
  background-color: #0cdddac2;
  border-color: #0cdddac2;
}
.btn-outline-primary {
  border-color: #7d63ec;
  color: #7d63ec;
}
.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active {
  background-color: #7d63ec !important;
  border-color: #7d63ec;
  color: white;
}
.start-now-btn {
  padding: 10px 40px;
}
