.custom-nav-tabs {
}
.custom-tab-wrapper {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  border-radius: 45px;
  display: flex;
  justify-content: center;
  height: fit-content;
  .custom-tab-list {
    min-width: 400px;
    width: 40%;
    background-color: #1e1b26;
    padding: 45px 35px 20px 20px;
    border-radius: 45px 0 0 45px;

    .custom-tab-item {
      position: relative;
      width: 290px;
      cursor: pointer;
      border-radius: 45px;
      padding: 11px 11px 11px 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 25px;

      .item {
        display: flex;
        align-items: center;
      }

      .title {
        white-space: nowrap;
        margin-left: 15px;
        color: #ffffff;
        opacity: 0.6;
      }
    }

    .custom-tab-item.active {
      background-color: #7d63ec;

      .title {
        opacity: 1;
      }
    }
  }

  .custom-tab-content {
    padding: 40px;
    padding-left: 60px;
    margin-left: -150px;
    background-color: #ffffff;
    width: 100%;
    border-radius: 45px;
  }
}

@media screen and (max-width: 768px) {
  .custom-tab-wrapper {
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .custom-tab-list {
      overflow: auto;
      display: flex;
      align-items: start;
      width: 100%;
      padding: 20px 35px 20px 20px;
      border-radius: 20px 20px 0 0;
      min-width: auto;

      .custom-tab-item {
        border-radius: 10px;
        flex-direction: column;
        width: fit-content;
        padding: 11px 20px 0px 20px;
        margin: 0;
        height: 53px;

        .title {
          letter-spacing: 1px;
          margin-left: 10px;
        }
      }

      .active {
        z-index: 999;
      }
    }
    .custom-tab-list::-webkit-scrollbar {
      display: none;
    }
    .custom-tab-content {
      padding: 40px 20px;
      margin: 0;
      margin-top: -24px;
      width: 100%;
      border-radius: 20px;
      z-index: 9;
    }
  }

  .right-arrow-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    margin-top: -5px;
    background-color: #7d63ec;
    border-radius: 50%;
    padding: 4px;
    position: relative; /* Establishes relative positioning context for ::before and ::after */
    bottom: -8px;
  }

  .right-arrow-wrapper svg {
    width: 100px;
    transform: rotate(90deg); /* Rotates the SVG */
  }

  .right-arrow-wrapper::before {
    background-image: url(../../../assets/img/triangle-before.png); /* Corrected order */
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 13px;
    right: 32px;
    z-index: 1;
    transform: rotate(-186deg);
  }

  .right-arrow-wrapper::after {
    background-image: url(../../../assets/img/triangle-after.png);
    content: "";
    width: 11px;
    height: 11px;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 14px;
    right: -9px;
    transform: rotate(-89deg);
    z-index: 1;
  }
}
